
<div urc-recommendation-nbo-oneclickupgrade accordian="accordian" accordian-func="accordianFunc" loc-find-type="$root.locFindType" ng-if="urn.nbooneclickupgradeElligible"></div>
<div urc-recommendation-nbo-equipmentupgrade accordian="accordian" accordian-func="accordianFunc" loc-find-type="$root.locFindType" ng-if="urn.nboequipmentupgradeElligible"></div>
<div urc-recommendation-contractrenewal accordian="accordian" accordian-func="accordianFunc" ng-if="urn.contractrenewalElligible" loc-find-type="$root.locFindType"></div>
<div urc-recommendation-router accordian="accordian" accordian-func="accordianFunc" ng-if="urn.routerElligible" loc-find-type="$root.locFindType"></div>
<div urc-recommendation-addline accordian="accordian" accordian-func="accordianFunc" ng-if="urn.addlineElligible" loc-find-type="$root.locFindType"></div>
<div urc-recommendation-nbo-noproduct accordian="accordian" accordian-func="accordianFunc" ng-if="urn.nbonoproductElligible"></div>
  

                       